---
export interface Props {
  name: string;
  url: string;
  isBig?: boolean
}

  const { name, url, isBig=false } = Astro.props;
  const id = url.split("/").at(-2)
  const urlImage = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`
  

---
<a 
href={`/pokemons/${name.toLowerCase()}`}
class:list={[
  "mt-8 rounded flex flex-col justify-center items-center p-2 ", {
    "border bg-pink-500/50" : !isBig,
    "bg-sky-800" : isBig
  }
]}
>
  <img src={urlImage} alt={`Imagen de ${name}`}
  class:list={[
    {
      "w-48 h-48": isBig,
      "w-24 h-24": !isBig
    }
    
  ]}
  >
<span class:list={[
  "capitalize", {
    "text-3xl": isBig,
  }
]} >#{id} {name}</span>
</a>
